.accordion {
  background: black;
}

.accordion a {
  all: unset;
}

.accordion .item-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(255 255 255 / 0%), rgb(0 0 0 / 80%)) no-repeat center;
  background-size: cover;
  color: white;
  filter: grayscale(100%);
  z-index: 1;
}

.accordion .item-title h4 {
  white-space: nowrap;
  font-family: var(--body-font-family);
  font-weight: 900;
  color: white;
  padding: 0 2.8rem 0.8rem;
}

@media (width > 767px) {
  .accordion {
    display: flex;
    flex-direction: row;
    min-height: 60rem;
    max-height: 60rem;
  }

  .accordion .item-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .accordion .item-title h4 {
    padding: 0;
  }
}

.accordion .item-title.open {
  display: none;
}

.accordion .item-title.open::after {
    transform: rotate(-135deg) translateX(50%);
}

.accordion .item-content {
  display: none;
  transition: all 0.25s 0.1s ease-out;
  padding: 3.9rem 4.4rem;
  background: none no-repeat center;
  width: 100%;
}

.accordion .overlay {
  position: relative;
}

.accordion .overlay::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.accordion .item-content.overlay::after {
  background: linear-gradient(rgb(255 255 255 / 0%), rgb(0 0 0 / 80%));
  height: 40rem;
}

.accordion .item-title.overlay::after {
  background: linear-gradient(rgb(255 255 255 / 0%), rgb(0 0 0 / 98%));
  width: 100%;
  height: 100%;
}

@media (width > 767px) {
  .accordion .item-title.overlay::after {
    display: none;
  }
}


.accordion .item-title.open + .item-content {
    display: block;
    filter: grayscale(0);
}

.accordion .item-content-image {
  display: none;
}

.accordion .item-content-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  column-gap: 1.2rem;
  color: white;
  margin-top: 35rem;
  font-family: var(--body-font-family);
  z-index: 1;
  position: relative;
}

.accordion .item-content-main h3 {
  font-family: inherit;
  font-size: var(--heading-font-size-l);
  font-weight: 900;
  margin: 0;
}

.accordion .item-content-main p {
  font-size: 2rem;
  font-weight: 300;
  max-width: 33rem;
  margin-top: 1rem;
}

.accordion .icon-long-right-arrow {
  display: inline-block;
  cursor: pointer;
}

.accordion .icon-long-right-arrow::before {
  content: "";
  color: white;
  font-size: 2rem;
}
