.subscription *{
  display: block;
}

.subscription .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.subscription .iki-subscribtion-footer .row {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.iki-subscribtion-footer .box:hover .iki-icons {
  transform: translateY(-15px);
  transition: all 0.5s ease;
}

.iki-subscribtion-footer .tooltip-content ul li a:hover p {
  transform: translateX(10px);
  transition: all 0.3s ease;
}

.subscription .subscription .iki-subscribtion-footer .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


main .section.full-width .subscription-wrapper{
  max-width: 100%;
}

.subscription a {
  text-decoration: none;
  color: #007cc3;
  cursor: pointer;
}

.subscription .iki-subscribtion-footer .box {
  padding: 60px;
  color: #fff;
  border-right: 1px solid #fff;
  height: 100%;

  /* background-color: #df9926; */
  background-color: #ab6604;
}

.subscription .col-lg-3 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}


.subscription .iki-subscribtion-footer .box-content span {
  display: block;
  font-size: 20px;
  margin: 10px auto;
}

.subscription .iki-subscribtion-footer .sub-ins {
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  text-align: left;
  
}
.iki-subscribtion-footer .tooltip-content ul li:first-child {
  border-top: 0px solid rgba(225, 225, 225, 0.5);
}



.subscription .iki-subscribtion-footer .iki-icons {
  font-size: 30px;
  transform: translateY(0);
  transition: all 0.5s ease;
}

[class^="icon-"]::before, [class*=" icon-"], [class^="icon-"] {
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subscription .iki-subscribtion-footer .sub-ins {
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  text-align: left;
}

.subscription .bg-topaz-dark {
  background-color: #2f1113 !important;
}

.subscription .bg-topaz-dark h4{
  margin: 10px 0; 
}

#errormsgiki {
  margin: 10px 0;
}

.subscription .iki-subscribtion-footer .tooltip-content ul li a [class*='icon-'] {
  color: #fff;
  font-size: 16px;
}

.subscription .iki-subscribtion-footer .tooltip-content {
  display:none;
}

@media(width >=1200px) {
  .subscription .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.subscription .iki-subscribtion-footer a {
  height: 100%;
}

.icon-connect::before {
  content: "";
}

.icon-request-expert::before {
  content: "";
}

.icon-insight::before {
  content: "";
}

.icon-podcast::before {
  content: "";
}

.iki-subscribtion-footer .iki-icons {
  font-size: 30px !important;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.input-txt{
  margin-top: 3px;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
}

.iki-subscribtion-footer .tooltip-content ul {
  height: 100%;
  padding: 0 25px;
  transform: translateY(0);
  margin: 0;
  padding-bottom: 8px;
}

.iki-subscribtion-footer .tooltip-content ul li {
  list-style-type: none;
  padding: 13px 0;
  border-top: 1px solid rgb(225 225 225 / 50%);
  transition: all 0.3s ease;
}

.iki-subscribtion-footer .tooltip-content ul li a {
  display: flex;
  align-items: center;
}

.iki-subscribtion-footer a {
  height: 100%;
}

.iki-subscribtion-footer .tooltip-content ul li a p{
  margin: 0 15px 0 5px;
  color: #fff;
  font-family: myriad-pro, Arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 23.2px;
  transform: translateX(0);
  transition: all 0.5s ease;
}
.icon-apple::before {
  content: "";
}

.icon-google::before {
  content: "";
}

.icon-spotify::before {
  content: "";
  color: #1ed760;
}

.icon-sound-cloud::before {
  content: "";
}

.iki-subscribtion-footer .tooltip-content ul li a [class*='icon-'] {
  color: #fff;
  font-size: 16px;
}

.thankyousub{
  padding:25px;
  display:none;
}

.iki-subscribtion-footer .iki-sub-btn {
  color: #fff;
  background: transparent !important;
  font-size: 14px;
  border: 2px solid #df9926;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
}

