.subscription *{
  display: block;
}

.subscription .container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.block.subscription .box:hover .header-icons {
  transform: translateY(-1.5rem);
  transition: all 0.5s ease;
}

.block.subscription .popup ul li a:hover{
  transform: translateX(1rem);
  transition: all 0.3s ease;
}

.subscription .block.subscription .row > [class*='columns'] {
  display: flex;
  flex-direction: column;
}

main .section.full-width .subscription-wrapper{
  max-width: 100%;
}

.subscription a {
  text-decoration: none;
  cursor: pointer;
}  

.block.subscription .box {
  padding: 6rem 2rem;
  color: var(--background-color);
  border-right: 0.1rem solid var(--background-color);
  height: 100%;
  background-color: var(--subscription-bg-brown-color);
  border-bottom: 0.1rem solid var(--background-color);
  width: 100%;
}

.subscription .columns {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.block.subscription .box span {
  display: block;
  font-size: 2rem;
  margin: 1rem auto;
}

.block.subscription .popup p {
  display: flex;
  height: 100%;
  color: var(--background-color);
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  text-align: left;
  background-color: var(--subscription-bg-topaz-color);
  margin:0;
}

.block.subscription .popup ul li:first-child {
  border-top: 0px solid var(--grey-color);
}

.block.subscription .box span.header-icons {
  font-size: 3rem;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.block.subscription .popup h3{
  margin: 1rem 0; 
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
}

.block.subscription .popup ul li span[class*='icon-'] {
  display: flex;  
  align-items: center;
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

.block.subscription .popup {
  display:none;
}

.block.subscription a {
  height: 100%;
}

.icon-connect::before {
  content: "";
}

.icon-request-expert::before {
  content: "";
}

.icon-insights::before {
  content: "";
}

.icon-podcasts::before {
  content: "";
}

.input-txt input{
  width: 100%;
  font-size: var(--body-font-size-xs);
  font-family: inherit;
  line-height: inherit;
  padding: 0.1rem 0.2rem;
}

.block.subscription .popup ul {
  height: 100%;
  padding: 1rem 1rem;
  transform: translateY(0);
  margin: 0;
  background-color: var(--subscription-bg-topaz-color);
}


.block.subscription .popup {
  height: 100%;
}

.block.subscription .popup .errorStringDiv h2{
  margin-top:1rem;
  margin-bottom: 1rem;
  opacity:  0;
  font-size: var(--body-font-size-xss);
  font-family: var(--body-font-family);
  font-weight: var( --font-weight-small);
}

.block.subscription .popup .thankyousub h4 {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-medium);
  font-family: var(--body-font-family);
}

.block.subscription .popup ul li {
  list-style-type: none;
  padding: 1.1rem 0;
  border-top: 0.1rem solid var(--grey-color);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.block.subscription a {
  height: 100%;
}

.block.subscription .popup ul li a{
  color: var(--background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-small);
  transform: translateX(0);
  transition: all 0.5s ease;
}

.icon-apple::before {
  content: "";
}

.icon-google::before {
  content: "";
}

.icon-spotify::before {
  content: "";
  color: var(--light-green-color);
}

.icon-sound-cloud::before {
  content: "";
}

.block.subscription .popup ul li a [class*='icon-'] {
  color: #fff;
  font-size: var(--body-font-size-xs);
}

.block.subscription .thankyousub{
  padding:2.5rem;
  display:none;
}

.block.subscription .submit-btn button{
  color: var(--background-color);
  background: transparent ;
  font-size: var(--body-font-size-xss);
  border: 0.2rem solid var(--btn-border-color);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  margin-bottom: 0.8rem;
}


@media(min-width: 481px) {
  .block.subscription .columns {
    flex: 0 0 50%;
    max-width: 50%; 
  }
}

@media(min-width: 768px) {
  .block.subscription .columns {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block.subscription .popup ul li {
    padding: 1.3rem 0;
  }

  .block.subscription .popup ul {
    padding: 0rem 2.5rem;
  }
}

@media(min-width: 993px) {
  .block.subscription .popup h3{
    font-size: var(--body-font-size-s);
  }
}

@media(min-width: 1025px) {
  .block.subscription .popup h3{
    font-size: var(--heading-font-size-m);
  }
  .block.subscription .box{
    padding: 6rem;
  }

}

@media(min-width: 1600px) {
  .block.subscription .popup h3{
    font-size: var(--body-font-size-l);
  }
}