div.section.hero-slider-container {
  --hero-slider-block-height: 43.4rem;

  margin-bottom: 15rem;
}

@media (width > 767px) {
  div.section.hero-slider-container {
    --hero-slider-block-height: 48.5rem;
  }
}

@media (width > 991px) {
  div.section.hero-slider-container {
    --hero-slider-block-height: 53.8rem;
  }
}

.hero-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--hero-slider-block-height);

  --banner-title-font-color: white;
  --banner-title-font-family: var(--heading-font-family);
  --banner-title-font-size: var(--heading-font-size-xxl);
  --banner-content-top: 15rem;
  --slide-bg-color: white;
  --slide-item-font-size: 1.6rem;
  --slide-item-find-more-font-size: 1.8rem;
  --slide-item-font-family: var(--body-font-family);
  --slide-item-font-color: var(--body-font-color);
  --slide-item-border-right: 1px solid rgba(169 174 177 / 60%);
  --find-more-link-font-color: var(--dark-denim);
  --icon-long-right-arrow-font-color: var(--bright-blue);
  --progress-bar-bg-color: var(--bright-blue);
  --tile-active-bg-color: var(--bright-blue);
  --tiles-bar-top: 124%;
  --arrow-control-top: 122%;
}

@media (width > 767px) {
  .hero-slider {
    --banner-content-top: 10rem;
  }
}

@media (width > 991px) {
  div.section.hero-slider-container {
    margin-bottom: 8rem;
  }

  .hero-slider {
    --slide-item-font-size: 1.8rem;
    --slide-item-find-more-font-size: 1.6rem;
    --banner-content-top: 18rem;
  }
}

@media (width > 1600px) {
  .hero-slider {
    --banner-content-top: 12rem;
    --slide-item-find-more-font-size: 2rem;
  }
}

.hero-slider-wrapper {
  position: relative;
  height: var(--hero-slider-block-height);
}


.hero-slider-wrapper .banner {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 800ms linear;
  pointer-events: auto;
  z-index: 1;
}

.hero-slider-wrapper .banner.active {
  opacity: 1;
}

.hero-slider-wrapper picture.banner img {
  width: 100%;
  height: var(--hero-slider-block-height);
  object-fit: cover;
}

.hero-slider a:any-link,
.hero-slider button {
  all: unset;
}

.hero-slider .banner-content-wrapper {
  position: relative;
  width: 100%;
  padding-top: var(--banner-content-top);
  margin-bottom: 1rem;
  height: 20rem;
  pointer-events: none;
  z-index: 1;
}

.hero-slider .banner-content-wrapper .banner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-slider .banner a {
  border-radius: 0;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  text-transform: uppercase;
  font-size: 1.26rem;
  font-weight: 600;
  line-height: 1.827rem;
  padding: 0.7rem 1.8rem 0.5rem;
  letter-spacing: 0.16rem;
  text-align: center;
  width: fit-content;
}

.hero-slider .banner .heading {
  color: var(--banner-title-font-color);
  font-family: var(--banner-title-font-family);
  font-size: var(--banner-title-font-size);
  font-weight: 300;
  line-height: 5rem;
}

.hero-slider .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  bottom: calc(-100% / 5);
  gap: 2rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow-x: auto;
  transition: transform 0.3s ease;
  z-index: 1;
}

.hero-slider .slider::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.hero-slider .slider .item {
  display: flex;
  position: relative;
  flex: 0 0 100%;
  flex-direction: column;
  text-align: left;
  color: var(--slide-item-font-color);
  background-color: var(--slide-bg-color);
  font-family: var(--slide-item-font-family);
  font-weight: 300;
  line-height: 1.45;
  padding: 2.5rem 1rem 2.5rem 2rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  border-bottom: 2px solid rgb(0 0 0 / 5%);
  border-right: 1px solid rgb(0 0 0 / 5%);;
}

.hero-slider .slider .item .heading {
  color: var(--black-olive);
  margin-top: 0;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.hero-slider .slider .item p {
  margin-top: 0;
  font-family: myriad-pro, Arial, sans-serif;
  font-size: var(--body-font-size-xxs);
  font-weight: 300;
  line-height: 1.45;
  padding-bottom: 1.5rem;
}

.hero-slider .slider .item p:not(.button-container) {
  display: flex;
  height: 100%;
  align-items: center;
}

.hero-slider .slider .item a.find-more {
  display: flex;
  position: absolute;
  cursor: pointer;
  color: var(--find-more-link-font-color);
  font-size: var(--slide-item-find-more-font-size);
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  bottom: 14%;
  white-space: nowrap;
  align-items: center;
}

.hero-slider .find-more .icon-chevron-right-circle-white {
  margin-right: 0.6rem;
  display: none;
  font-size: unset;
}

.hero-slider .find-more .icon-chevron-right-circle-white::before {
  content: "";
}

.find-more .icon-long-right-arrow {
  display: inline-block;
  width: 3rem;
  height: 1.45rem;
}

.find-more .icon-long-right-arrow::before {
  content: "";
  color: var(--icon-long-right-arrow-font-color);
  font-size: 2.4rem;
  margin-right: 0.6rem;
}

@keyframes progress-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.hero-slider .slider .item .progress-bar {
  position: absolute;
  bottom: 0;
  height: 0.8rem;
  width: 0;
  margin-left: -2rem;
  background-image: linear-gradient(to right, var(--progress-bar-bg-color), #fff);
  transition: width 0.1s linear;
  animation: none;
}

.hero-slider .slider .item.active .progress-bar {
  animation: progress-animation 4s linear forwards;
}

.hero-slider .arrow-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  gap: 1rem;
  top: var(--arrow-control-top);
  right: 0;
}

.hero-slider button.arrow {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
}

.hero-slider button.arrow.left::before {
  font-family: icomoon, var(--body-font-family);
  content: "";
  transform: rotateZ(180deg);
  display: inline-block;
  margin-left: 1rem;
}

.hero-slider button.arrow.right::before {
  font-family: icomoon, var(--body-font-family);
  content: "";
  display: inline-block;
  margin-left: 1rem;
}

.hero-slider .tiles-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: var(--tiles-bar-top);
  width: 50%;
  gap: 0.8rem;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hero-slider .tile {
  width: 100%;
  height: 0.6rem;
  background: rgb(0 0 0 / 10%);
  cursor: pointer;
}

.hero-slider .tile.active {
  background-color: var(--tile-active-bg-color);
}

@media (width > 450px) {
  .hero-slider .banner-content-wrapper {
    width: 85%;
  }
}

@media (width > 767px) {
  .hero-slider .banner-content-wrapper {
    width: 70%;
  }

  .hero-slider .banner .heading {
    line-height: 6rem;
  }

  .hero-slider .slider {
    bottom: calc(-100% / 7);
    height: unset;
    gap: 0;
    background-color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  }

  .hero-slider .slider .item {
    height: unset;
    flex: 0 0 50%;
    box-shadow: none;
    border: none;
  }

  .hero-slider .slider .item::after {
    position: absolute;
    content: "";
    border-right: var(--slide-item-border-right);
    top: 10%;
    right: 0;
    bottom: 10%;
  }

  .hero-slider .slider div.item:last-of-type::after {
    display: none;
  }

  .hero-slider .slider .item p {
    font-size: var(--body-font-size-xs);
  }

  .hero-slider .find-more .icon-chevron-right-circle-white {
    display: block;
  }

  .find-more .icon-long-right-arrow {
    display: none;
  }
}

@media (width > 991px) {
  .hero-slider .banner a {
    font-size: 1.12rem;
    line-height: 1.624rem;
  }

  .hero-slider .slider {
    background-color: white;
    margin-bottom: 1rem;
    bottom: -15rem;
  }

  .hero-slider .slider .item {
    flex: 1;
  }

  .hero-slider .slider .item p {
    font-size: var(--body-font-size-xxs);
  }

  .hero-slider button.arrow {
    display: none;
  }

  .hero-slider .tiles-bar {
    display: none;
  }
}

@media (width > 1600px) {
  .hero-slider .banner a {
    font-size: 1.4rem;
    line-height: 2.03rem;
  }

  .hero-slider .banner .heading {
    line-height: 8rem;
  }

  .hero-slider .slider {
    bottom: -10rem;
    margin-top: 2rem;
  }

  .hero-slider .slider .item p {
    font-size: var(--body-font-size-s);
  }
}
