div.section.hero-slider-container {
  height: 53.8rem;
  margin-bottom: 13rem;
}

.hero-slider {
 --banner-title-font-color: white;
 --banner-title-font-family: tungstenw05-medium, oswald, sans-serif;
 --banner-title-font-size: var(--heading-font-size-xxl);
 --button-bg-color: #0271b1;
 --button-font-color: white;
 --banner-content-top: 38%;
 --card-bg-color: white;
 --card-item-font-size: 16px;
 --card-item-h4-font-size: 2.4rem;
 --card-item-find-more-font-size: 1.8rem;
 --card-item-font-family: myriad-pro, arial, sans-serif;
 --card-item-font-color: #3f3f3f;
 --card-item-border-right: 1px solid rgba(169 174 177 / 60%);
 --tiles-bar-top: 114%;
 --arrow-control-top: 112%;

  position: relative;
  height: 50rem;
}

@media (width > 990px) {
  div.section.hero-slider-container {
    margin-bottom: 7.5rem;
  }

  .hero-slider {
    --card-item-font-size: 18px;
    --card-item-find-more-font-size: 2rem;
    --banner-content-top: 28%;
    --tiles-bar-top: 100%;
  }
}

.hero-slider a:any-link {
 all: unset;
}

.hero-slider button {
  all: unset;
}

.hero-slider .banner {
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.hero-slider .banner.active {
  display: block;
  opacity: 1;
}

.hero-slider .banner-content {
  position: absolute;
  top: var(--banner-content-top);
}

.hero-slider .banner-img img {
  display: none;
}

.hero-slider .banner-content h2 {
  color: var(--banner-title-font-color);
  font-family: var(--banner-title-font-family);
  font-size: var(--banner-title-font-size);
  font-weight: 300;
  line-height: 7.5rem;
  margin-top: 1rem;
}

.hero-slider .banner-content a.report-button {
  border-radius: 0;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  text-transform: uppercase;
  font-size: var(--body-font-size-xs);
  font-weight: 600;
  padding: 7px 18px 5px;
  letter-spacing: 0.16rem;
  text-align: center;
}

.hero-slider .cards-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  column-gap: 1rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  width: 100%;
  bottom: -11%;
}

.hero-slider .card-item {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  text-align: left;
  color: var(--card-item-font-color);
  background-color: var(--card-bg-color);
  font-family: var(--card-item-font-family);
  font-weight: 300;
  line-height: 1.45;
  padding: 2.5rem 1rem 2.5rem 2rem;
}

.hero-slider .card-item::after {
  position: absolute;
  content: "";
  border-right: var(--card-item-border-right);
  top: 10%;
  right: 0;
  bottom: 10%;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

.hero-slider .card-item.animate-l2r {
  animation: slide-in-from-left 0.8s forwards;
}

.hero-slider .card-item.animate-r2l {
  animation: slide-in-from-right 0.8s forwards;
}

.hero-slider .card-item h4 {
  color: #3f3f3f;
  margin-top: 0;
  font-family: inherit;
  font-size: var(--card-item-h4-font-size);
  font-weight: 600;
  line-height: 1;
}

.hero-slider .card-item p {
  margin-top: 0;
  font-family: myriad-pro, Arial, sans-serif;
  font-size: var(--card-item-font-size);
  font-weight: 300;
  line-height: 1.45;
  padding-bottom: 1.5rem;
}

.hero-slider .card-item a.find-more {
  display: flex;
  position: absolute;
  cursor: pointer;
  color: #00578A;
  font-size: var(--card-item-find-more-font-size);
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  bottom: 14%;
  white-space: nowrap;
  align-items: center;
}

@media (width > 990px) {
  .hero-slider .cards-list {
    column-gap: 0;
    background-color: white;
    margin-bottom: 10px;
    bottom: -11%;
  }

  .hero-slider .card-item.animate-l2r,
  .hero-slider .card-item.animate-r2l {
    animation: none;
  }
}

@media (width <= 990px) {
  .hero-slider .cards-list {
    column-gap: 0;
    background-color: white;
    bottom: -8%;
  }
}

@media (width < 768px) {
  .hero-slider .card-item::after {
    border-right: none;
  }

  .hero-slider .card-item h4 {
    font-size: var(--heading-font-size-m);
  }
}

.hero-slider .find-more .icon-chevron-right-circle-white {
  margin-right: 0.6rem;
  display: none;
}

.hero-slider .find-more .icon-chevron-right-circle-white::before {
  content: "";
}

@media (width >= 768px) {
  .hero-slider .find-more .icon-chevron-right-circle-white {
    display: block;
  }
}

.find-more .icon-long-right-arrow {
  display: none;
}

@media (width < 768px) {
  .find-more .icon-long-right-arrow {
    display: inline-block;
  }
}

.find-more .icon-long-right-arrow::before {
  content: "";
  color: #007cc3;
  font-size: 2.4rem;
  margin-right: 0.6rem;
}

.hero-slider .progress-bar {
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 0;
  margin-left: -2rem;
  background-image: linear-gradient(to right, #007cc3, #fff);
  transition: width 0.1s linear;
}

.hero-slider .arrow-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  gap: 1rem;
  top: var(--arrow-control-top);
  right: 10%;
}

.hero-slider button.arrow {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hero-slider .tiles-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: var(--tiles-bar-top);
  width: 60%;
  gap: 0.8rem;
  margin-left: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hero-slider .tile {
  width: 100%;
  height: 0.6rem;
  background-color: lightgray;
  cursor: pointer;
}

.hero-slider .tile.active {
  background-color: #007cc3;
}

@media (width > 990px) {
  .hero-slider button.arrow {
    display: none;
  }

  .hero-slider .tiles-bar {
    display: none;
  }
}
