.inner-container {
  display: flex;
  flex-direction: column;
}

.default-content-wrapper h2 {
  margin: 0 0 1.8rem 0;
  font-weight: 500;
  font-size: 4.14rem;
  color: #3f3f3f;
  border-bottom: 1px solid #a9aeb1;
}

.inner-container>.carousel-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.8rem 0;
  border-bottom: 1px solid #a9aeb1;
}

.inner-container>.carousel-item:first-child {
  padding: 0 0 1.89rem 0;
}

.card-body {
  display: none;
}

.card-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-item .card-image {
  max-width: 100%;
  margin-right: 0;
}

.carousel-item h5 {
  font-size: 1.26rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  color: #3f3f3f;
  margin: 1.71rem 0 0.99rem 0;
}

.inner-container>.carousel-item:first-child h5 {
  font-size: 1.62rem;
}

.carousel-item a:not(:has(img)) {
  font-size: 1.44rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  overflow-wrap: break-word;
  color: #3f3f3f;
  margin-bottom: 0.9rem;
}

.inner-container>.carousel-item:first-child a:not(:has(img)) {
  font-size: 1.62rem;
  font-weight: 600;
}

.carousel-dots {
  display: none;
  text-align: center;
  padding: 20px 0;
}

.carousel-dots span[class*='icon-'] {
  font-size: 2.2rem;
  opacity: 0.75;
  padding: 0 4rem;
}

.carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #239de0;
}

@media(width >=376px) {
  .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: row;
  }

  .carousel-item:nth-child(n+2) .card-image {
    max-width: 16.74rem;
    margin-right: 1.8rem;
  }

  .inner-container>.carousel-item:not(:first-child) h5 {
    margin: 0.9rem 0 0.45rem 0;
  }
}

@media(width >=576px) {
  .carousel-item:nth-child(n+2) .card-image {
    max-width: 27rem;
  }

  .inner-container>.carousel-item:not(:first-child) h5 {
    margin: 2.61rem 0 1.8rem 0;
  }
}

@media(width >=768px) {
  .default-content-wrapper h2 {
    font-size: 6.3rem;
    margin-bottom: 3.87rem;
    border-bottom: none;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 6.87rem;
  }

  .inner-container>.carousel-item {
    border-bottom: none;
  }

  .inner-container>.carousel-item:first-child {
    padding: 0;
  }

  .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: column;
  }

  .carousel-item {
    flex: 0 0 calc(50% - 28px);
    margin: 0 2.7rem 0 0.1rem;
    flex-direction: column;
  }

  .carousel-item:nth-child(n+2) {
    padding: 0;
  }

  .carousel-item:nth-child(n+2) .card-image {
    max-width: 100%;
    margin-right: 0;
  }

  .carousel-item h5 {
    margin: 2.61rem 0 1.8rem 0;
  }

  .inner-container>.carousel-item:not(:first-child) h5 {
    font-size: 1.62rem;
  }

  .carousel-item a:not(:has(img)) {
    font-size: 2.16rem;
    margin-bottom: 1.8rem;
  }

  .inner-container>.carousel-item:first-child a:not(:has(img)) {
    font-size: 2.16rem;
  }

  .card-body {
    display: block;
  }

  .carousel-item p {
    font-family: var(--body-font-family);
    font-size: 1.62rem;
    font-weight: 300;
    margin: 0 0 3.6rem 0;
    overflow-wrap: break-word;
    color: #3d4551;
  }

  .carousel-item span {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1.62rem;
    color: #3f3f3f;
    padding-left: 0.9rem;
  }

  .carousel-dots {
    display: block;
  }
}

@media (width >=1200px) {
  .carousel-item {
    margin: 0 2.4rem 0 0.1rem;
    flex: 0 0 calc(33.33% - 25px);
  }
}