.inner-container {
  display: flex;
  flex-direction: column;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0;
  border-bottom: 1px solid #a9aeb1;
}

.card-body {
  display: none;
}

.card-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-item .card-image {
  max-width: 100%;
  margin-right: 0;
}

.carousel-item h5 {
  font-size: 1.26rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  color: #3f3f3f;
  margin: 1.71rem 0 0.99rem 0;
  line-height: 1;
}

.carousel-item a {
  font-size: 1.44rem;
  font-family: var(--body-font-family);
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 0.9rem;
  line-height: 1;
}

.carousel-dots {
  display: none;
  text-align: center;
  padding: 20px 0;
}

.carousel-dots span[class*='icon-'] {
  font-size: 2.2rem;
  opacity: 0.75;
  padding: 0 4rem;
}

.carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #239de0;
}

@media(width >=376px) {
  .default-content-wrapper h2 {
    margin: 0 0 1.8rem 0;
  }

  .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: row;
  }

  .carousel-item:nth-child(n+2) .card-image {
    max-width: 16.74rem;
    margin-right: 1.8rem;
  }
}

@media(width >=576px) {
  .carousel-item:nth-child(n+2) .card-image {
    max-width: 27rem;
  }
}

@media(width >=768px) {
  .carousel-wrapper {
    padding: 0 30rem;
  }

  .carousel {
    margin: auto;
    overflow: hidden;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
  }

  .carousel {
    margin: auto;
    overflow: hidden;
  }

  .carousel-dots {
    display: block;
  }

  .carousel-item {
    padding-right: 1.5rem;
    min-width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    border-bottom: unset;
    align-items: left;
  }

  .carousel-item:nth-child(n+2) .card-image {
    max-width: 100%;
    margin-right: 0;
  }

  .carousel-item a {
    font-size: 2.16rem;
  }

  .carousel-item p {
    color: #3d4551;
    font-size: var(--body-font-size-xs);
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-small);
  }

  .carousel-item span {
    color: #3f3f3f;
    font-size: var(--body-font-size-xs);
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-regular);
  }

  .inner-container .carousel-item:not(:first-of-type) {
    flex-direction: column;
  }

  .card-body {
    display: block;
  }
}

@media (width >=1200px) {
  .carousel-item {
    min-width: 33.33%;
  }
}